@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Set the font family and font size */
body {
  background-color: #303446;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 600;
}

/* Set the color for headings */
h1,
h2,
h3 {
  color: #fff;
}

/* Set the background color for the header */
header {
  background-color: #272727;
}

/* Set the background color and text color for links */
a {
  background-color: #f7d488;
  color: #2c2c2c;
  text-decoration: none;
}

/* Set the background color for buttons */
button {
  background-color: #f7d488;
  color: #2c2c2c;
  border: none;
  border-radius: 4px;
  padding: 6px;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 600;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 2px;
  margin: 2px 0;
  border-radius: 2px;
  border: none;
  color: #c6d0f5;
  background: #414559;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: bold;
}

/* Set the style for forms */
form {
  margin: 20px;
}

/* Set the style for form submit buttons */
input[type="submit"] {
  background-color: #f7d488;
  color: #2c2c2c;
  border: none;
  border-radius: 2px;
  padding: 4px;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  font-weight: 600;
}

/* Set the style for tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px;
}

/* Set the style for table cells */
th,
td {
  text-align: left;
  padding: 8px;
}

/* Set the style for table header cells */
th {
  background-color: #f7d488;
  color: #2c2c2c;
}
